section{
    margin-top: 10px;
    height: 100vh;
    
    text-align: center;
    .contenedor{
        margin-top: 10px;
        label{
            width: 400px;
            color: #ffa500;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
        }
        input{
            width: 500px;
        }
        legend{
            color: orange;
            
        }
        textarea{
            width: 200px;
            height: 100px;
        }
        button{
            background-color: #ffa500;
            border:1px solid gray;
            border-radius: 10%;
            a{
                text-decoration: none;
            }
        }

    }
}






