
h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: orange;
}
.galeria{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    div{
        text-align: center;
        background-color: orange;
        border:1px solid gray;
        color:black;
        width: 300px; 
        height: 80%;
           
        }
    }
    .imagenItem{
       margin-top: 5px;
       
    }
    .imagenItem:hover{
        transition-duration: 1s;
        transform:rotateY(360deg);
    }
        
    #Xatu:hover{ 
        content: url("/assets/imagenes/Xatu.png"); 
    }
  
    #Charizard:hover{
        content: url("/assets/imagenes/Charizard.png");
}
p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}