body{
    background-color: black;
}
.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 100%;
    }
    nav{
        width: 50%;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            li{
                a{
                    text-decoration: none;
                    color:orange;
                    font-size: 1.5rem;
                }
            }
        }
    
    }
    
}