* {
    font-family: "Fira Sans Condensed", sans-serif;
    
}

body{
    background-color: black;
}
.header{
    background-color: rgba(0, 0, 0, 0.41);
    padding:10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
    z-index:1005;
    height:15vh;
    img{
        width: 10%;
        height: 10%;
    }
    nav{
        width: 50%;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            li{
                a{
                    text-decoration: none;
                    color:orange;
                    font-size: 1.5rem;
                }
            }
        }
    
    }
    
}
hr{
    
    border-color: orange;
}

.principalIndex{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image:url("../imagenes/alfombrilla.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 85vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    .contenedorTextoPrincipalIndex{
        z-index: 1002;
        margin:0 auto;
        margin-top: 30px;
        padding:10px;
        border-radius: 5px;
        text-align: center;
        width: 50%;
        font-size: 10px;
        color: orange;
        backdrop-filter: blur(15px);
        
        
        p{
            font-size: 2.5em;
        }
        
    }
}

@media screen and (max-width:768px){
    .header{width: 80%;
        img{
            width: 25px;
            height: 25px;
        }
        
        nav{
            width: max-content;
            ul{
                justify-content:space-around;
            }
        }
    }
}

@media screen and (max-width:590px){
    .header{
        width: 100%;
        flex-direction: column;
        align-items: start;
        nav{
            width: auto;
            ul{
                display: contents;
               }
           }
           
       }
      
       
       

}