.opinionClientes{
    text-align: center;
    color: orange;
    .galeriaClientes{
        background-color: orange;
        padding:50px;
        margin:0 auto;
        width: 60%;
        display:flex;
        justify-content: space-evenly;
        row-gap: 20px;
        flex-wrap: wrap;
        .tarjetaClientes{
            width: 250px;
            color: black;
            .imagenCliente{
                width: 20%;
                height: 20%;
            }
        }
    }
}